<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.jboss.tools.arquillian.ui.internal.commands.ArquillianPropertyTester"
            id="org.jboss.tools.arquillian.ui.internal.commands.arquillianPropertyTester"
            namespace="org.jboss.tools.arquillian.ui"
            properties="isArquillianJUnitTest, canLaunchAsArquillianTest"
            type="java.lang.Object">
      </propertyTester>
   </extension>

   <extension
		point="org.eclipse.ui.commands">
		
		<command
			id="org.jboss.tools.arquillian.ui.action.addArquillianSupport"
			name="%addArquillianSupport"
			categoryId="org.jboss.tools.arquillian.category"
			defaultHandler="org.jboss.tools.arquillian.ui.internal.commands.AddArquillianCommandHandler"/>
		<command
			id="org.jboss.tools.arquillian.ui.action.removeArquillianSupport"
			name="%removeArquillianSupport"
			categoryId="org.jboss.tools.arquillian.category"
			defaultHandler="org.jboss.tools.arquillian.ui.internal.commands.RemoveArquillianCommandHandler"/>
		<command
			id="org.jboss.tools.arquillian.ui.action.generateArquillianDeployment"
			name="%generateArquillianDeployment"
			categoryId="org.jboss.tools.arquillian.category"
			defaultHandler="org.jboss.tools.arquillian.ui.internal.commands.GenerateArquillianDeploymentHandler"/>
		<command
			id="org.jboss.tools.arquillian.ui.action.addArquillianProfiles"
			name="%addArquillianProfiles"
			categoryId="org.jboss.tools.arquillian.category"
			defaultHandler="org.jboss.tools.arquillian.ui.internal.commands.AddArquillianProfilesCommandHandler"/>
			
		<category
			id="org.jboss.tools.arquillian.category"
			name="%arquillianCommandCategory">
		</category>
		
		<command
            name="%Shortcut.description.run"
            description="%Shortcut.description.run"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.jboss.tools.arquillian.arquillianShortcut.run">
      </command>
      <command
            name="%Shortcut.description.debug"
            description="%Shortcut.description.debug"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.jboss.tools.arquillian.arquillianShortcut.debug">
      </command>
      <command
            name="%Shortcut.description.rerunLast"
            description="%Shortcut.description.rerunLast"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.jboss.tools.arquillian.arquillianShortcut.rerunLast">
      </command>
      <command
            name="%Shortcut.description.rerunFailedFirst"
            description="%Shortcut.description.rerunFailedFirst"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.jboss.tools.arquillian.arquillianShortcut.rerunFailedFirst">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            sequence="M2+M3+D L"
            commandId="org.jboss.tools.arquillian.arquillianShortcut.debug"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <!-- On carbon: Shift+Option+D is a character, Command+Option+D is Show/Hide Dock, Command+Control+D is dictionary lookup -->
      <key
            platform="carbon"
            sequence="M2+M3+D L"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M1+M3+M4+D L"
            commandId="org.jboss.tools.arquillian.arquillianShortcut.debug"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M2+M3+X L"
            commandId="org.jboss.tools.arquillian.arquillianShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+X L"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M1+M3+X L"
            commandId="org.jboss.tools.arquillian.arquillianShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.jboss.tools.arquillian.ui.action.addArquillianSupport"
            icon="icons/arquillian_icon16.png">
      </image>
      <image
            commandId="org.jboss.tools.arquillian.ui.action.removeArquillianSupport"
            icon="icons/arquillian_icon16.png">
      </image>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.jdt.ui.source.menu?after=generateGroup">
         <command
               commandId="org.jboss.tools.arquillian.ui.action.generateArquillianDeployment"
               style="push">
           <visibleWhen>
					<with
						variable="selection">
						<iterate ifEmpty="false">
						  <or>
							<adapt type="org.eclipse.jdt.core.IJavaElement">
								<test property="org.jboss.tools.arquillian.ui.isArquillianJUnitTest" value="true" forcePluginActivation="true"/>
							</adapt>
							<adapt type="org.eclipse.jface.text.ITextSelection">
								<test property="org.jboss.tools.arquillian.ui.isArquillianJUnitTest" value="true" forcePluginActivation="true"/>
							</adapt>
							<adapt type="org.eclipse.jdt.core.IType">
								<test property="org.jboss.tools.arquillian.ui.isArquillianJUnitTest" value="true" forcePluginActivation="true"/>
							</adapt>
						  </or>
						</iterate>
						<count value="1"/>
					</with>
			</visibleWhen>
         </command>
      </menuContribution>
      
      <menuContribution locationURI="menu:org.eclipse.jdt.ui.source.menu?after=generateGroup">
         <command
               commandId="org.jboss.tools.arquillian.ui.action.generateArquillianDeployment"
               style="push">
           <visibleWhen>
					<with
						variable="selection">
						<iterate ifEmpty="false">
						  <or>
							<adapt type="org.eclipse.jdt.core.IJavaElement">
								<test property="org.jboss.tools.arquillian.ui.isArquillianJUnitTest" value="true" forcePluginActivation="true"/>
							</adapt>
							<adapt type="org.eclipse.jface.text.ITextSelection">
								<test property="org.jboss.tools.arquillian.ui.isArquillianJUnitTest" value="true" forcePluginActivation="true"/>
							</adapt>
							<adapt type="org.eclipse.jdt.core.IType">
								<test property="org.jboss.tools.arquillian.ui.isArquillianJUnitTest" value="true" forcePluginActivation="true"/>
							</adapt>
						  </or>
						</iterate>
     		 			<count value="1"/>
					</with>
			</visibleWhen>
         </command>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.jboss.tools.arquillian.ui.action.addArquillianSupport"
               style="push">
            <visibleWhen checkEnabled="false">
					<and>
						<count value="1"/>
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IProject">
								<and>
									<test
										property="org.eclipse.core.resources.projectNature"
										value="org.eclipse.jdt.core.javanature"/>
										
									<test
										property="org.eclipse.core.resources.projectNature"
										value="org.eclipse.m2e.core.maven2Nature"/>
										
									<not>
										<test 
											property="org.eclipse.core.resources.projectNature" 
											value="org.jboss.tools.arquillian.core.arquillianNature"/>
									</not>
								</and>
							</adapt>
						</iterate>
					</and>
				</visibleWhen>
         </command>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.jboss.tools.arquillian.ui.action.removeArquillianSupport"
               style="push">
            <visibleWhen checkEnabled="false">
					<and>
						<count value="1"/>
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IProject">
								<and>
									<test 
										property="org.eclipse.core.resources.projectNature" 
										value="org.jboss.tools.arquillian.core.arquillianNature"/>
								</and>
							</adapt>
						</iterate>
					</and>
				</visibleWhen>
         </command>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.jboss.tools.arquillian.ui.action.addArquillianProfiles"
               style="push">
            <visibleWhen checkEnabled="false">
					<and>
						<count value="1"/>
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IProject">
								<and>
									<test 
										property="org.eclipse.core.resources.projectNature" 
										value="org.jboss.tools.arquillian.core.arquillianNature"/>
								</and>
							</adapt>
						</iterate>
					</and>
				</visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
   <extension point="org.eclipse.ui.newWizards">
      <category
            name="Arquillian"
            id="org.jboss.tools.arquillian.category">
      </category>
   	  <wizard 
         category="org.jboss.tools.arquillian.category" 
         class="org.jboss.tools.arquillian.ui.internal.wizards.NewArquillianJUnitTestWizard" 
         icon="icons/arquillian_icon16.png"
         id="org.jboss.tools.arquillian.ui.wizards.newArquillianJUnitTestWizard" 
         name="Arquillian JUnit Test Case" 
         project="false">
         <description>
            Create an Arquillian JUnit Test Case
         </description>
       
      </wizard>
    </extension>
    
    <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="org.jboss.tools.arquillian.ui.internal.detectors.ArquillianResourceHyperlinkDetector"
            id="org.jboss.tools.arquillian.ui.detectors.ArquillianResourceHyperlinkDetector"
            name="%ArquillianResourceHyperlinkDetector"
            targetId="org.eclipse.jdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>
   
   <!--
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/arquillian_icon16.png"
            configTypeID="org.jboss.tools.arquillian.core.launchconfig"
            id="org.jboss.tools.arquillian.launchimage">
      </launchConfigurationTypeImage>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.jboss.tools.arquillian.core.launchconfig"
            helpContextId="org.jboss.tools.arquillian.ui.arquillian_tab_group"
            class="org.jboss.tools.arquillian.ui.internal.launcher.ArquillianTabGroup"
            id="org.jboss.tools.arquillian.launchConfigurationTabGroup">
         <launchMode
               perspective="org.eclipse.debug.ui.DebugPerspective"
               description="%TabGroupDescription.debug"
               mode="debug">
         </launchMode>
         <launchMode
               description="%TabGroupDescription.run"
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   -->
   <extension point="org.eclipse.debug.ui.launchConfigurationTabs">
    <tab
      class="org.jboss.tools.arquillian.ui.internal.launcher.ArquillianTab"
      group="org.eclipse.jdt.junit.launchConfigurationTabGroup.junit"
      id="org.jboss.tools.arquillian.ui.internal.launcher.arquillianTab"
      name="Arquillian">
      <placement after="org.eclipse.jdt.junit.JUnitLaunchConfigurationTab">
      </placement>
    </tab>
  </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%Shortcut.label"
            icon="icons/arquillian_icon16.png"
            helpContextId="org.jboss.tools.arquillian.launch_shortcut"
            class="org.jboss.tools.arquillian.ui.internal.launcher.ArquillianLaunchShortcut"
            modes="run, debug"
            id="org.jboss.tools.arquillian.arquillianShortcut">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
               	  <iterate>
                     <adapt type="org.eclipse.jdt.core.IJavaElement">
		                <test property="org.eclipse.jdt.core.isInJavaProject"/>
		                <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="org.jboss.arquillian.junit.Arquillian"/>
		                <test property="org.jboss.tools.arquillian.ui.canLaunchAsArquillianTest" value="true" forcePluginActivation="true"/>
		             </adapt>
		          </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="org.eclipse.jdt.junit.launchconfig">
         </configurationType>
         <description
               description="%DebugLaunchShortcut.description"
               mode="debug">
         </description>
         <description
               description="%RunLaunchShortcut.description"
               mode="run">
         </description>
      </shortcut>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.jboss.tools.common.model.ui.views"
            class="org.jboss.tools.arquillian.ui.internal.views.ArquillianView"
            icon="icons/arquillian_icon16.png"
            id="org.jboss.tools.arquillian.ui.views.arquillianView"
            name="Arquillia Cruiser">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.jboss.tools.arquillian.ui.views.arquillianView">
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.jboss.tools.arquillian.ui.views.arquillianView">
         <includes>
				<contentExtension pattern="org.eclipse.jdt.java.ui.javaContent" />
				<contentExtension pattern="org.eclipse.jdt.java.ui.filters.*" />
				<contentExtension pattern="org.jboss.tools.arquillian.ui.filters.*" />
				<contentExtension pattern="org.jboss.tools.arquillian.ui.deplymentContent" />	
				<contentExtension pattern="org.eclipse.jdt.java.ui.javaLinkHelper" />	
	     </includes>
      </viewerContentBinding>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            class="org.jboss.tools.arquillian.ui.internal.filters.ArquillianFilter"
            id="org.jboss.tools.arquillian.ui.filters.projectFilter"
            name="Arquillian Filter">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="org.jboss.tools.arquillian.ui.internal.filters.ActiveProjectFilter"
            id="org.jboss.tools.arquillian.ui.filters.activeProjectFilter"
            name="Arquillian Active Project Filter">
      </commonFilter>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.jboss.tools.arquillian.ui.internal.views.DeploymentContentProvider"
            icon="$nl$/icons/jar_obj.gif"
            id="org.jboss.tools.arquillian.ui.deplymentContent"
            labelProvider="org.jboss.tools.arquillian.ui.internal.views.DeploymentLabelProvider"
            name="Deployment Content"
            priority="higher">
         <triggerPoints>
			<instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.jboss.tools.arquillian.ui.internal.model.ArquillianZipEntry"/>  
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">
       <page
            name="Arquillian Validator"
            class="org.jboss.tools.arquillian.ui.internal.preferences.ArquillianValidatorPreferencePage"
            id="org.jboss.tools.arquillian.ui.propertyPages.arquillianValidatorPreferencePage">
         <enabledWhen>
		     	<adapt type="org.eclipse.core.resources.IProject">
		     		<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
				</adapt>
         </enabledWhen>
      </page>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page 
         category="org.jboss.tools.arquillian.ui.preferences.arquillianPreferencePage" 
         class="org.jboss.tools.arquillian.ui.internal.preferences.ArquillianValidatorPreferencePage" 
         id="org.jboss.tools.arquillian.ui.preferences.arquillianValidatorPreferencePage" 
         name="Arquillian Validator">
      </page>
      <page
            category="org.jboss.tools.common.model.ui.MainPreferencePage"
            class="org.jboss.tools.arquillian.ui.internal.preferences.ArquillianPreferencePage"
            id="org.jboss.tools.arquillian.ui.preferences.arquillianPreferencePage"
            name="Arquillian">
      </page>
   </extension>
   
   <extension point="org.eclipse.ui.ide.markerResolution">
  	  <markerResolutionGenerator
     	class="org.jboss.tools.arquillian.ui.internal.markers.GenerateDeploymentResolutionGenerator"
     	markerType="org.jboss.tools.arquillian.core.problem.missingDeploymentMethod"/>
   </extension>
   
   <extension point="org.eclipse.ui.ide.markerResolution">
  	  <markerResolutionGenerator
     	class="org.jboss.tools.arquillian.ui.internal.markers.FixArchiveNameResolutionGenerator"
     	markerType="org.jboss.tools.arquillian.core.problem.invalidArchiveName"/>
   </extension>
   
   <extension point="org.eclipse.ui.ide.markerResolution">
  	  <markerResolutionGenerator
     	class="org.jboss.tools.arquillian.ui.internal.markers.AddMissingTypeResolutionGenerator"
     	markerType="org.jboss.tools.arquillian.core.problem.class"/>
   </extension>
   
</plugin>
