<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
       id="arquillianNature"
       name="%nature_name"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
          class="org.jboss.tools.arquillian.core.internal.natures.ArquillianNature">
       </run>
    </runtime>
    <requires-nature
          id="org.eclipse.jdt.core.javanature">
    </requires-nature>
    <requires-nature
          id="org.eclipse.m2e.core.maven2Nature">
    </requires-nature>
    <!--
    <builder
          id="org.jboss.tools.arquillian.core.arquillianBuilder">
    </builder>
    -->
    </extension>
    
    <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%Launch.label"
            delegateDescription="%ArquillianLaunchDelegate.description"
            delegateName="%ArquillianLaunchDelegate.name"
            delegate="org.jboss.tools.arquillian.core.internal.launcher.ArquillianLaunchConfigurationDelegate"
            modes="run, debug"
            id="org.jboss.tools.arquillian.core.launchconfig"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.jboss.tools.arquillian.core.launchconfig.sourcePathComputer">
      </launchConfigurationType>
   </extension>

   <extension
         point="org.eclipse.jdt.junit.junitLaunchConfigs">
      <launchConfigType
            configTypeID="org.jboss.tools.arquillian.core.launchconfig">
      </launchConfigType>
   </extension>
   
   
   <extension point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider 
          id="org.jboss.tools.arquillian.core.launchconfig.classpathProvider"
          class="org.jboss.tools.arquillian.core.internal.classpath.ArquillianRuntimeClasspathProvider"/>
   </extension>

   <extension point="org.eclipse.debug.core.sourcePathComputers">
   		<sourcePathComputer
   			id="org.jboss.tools.arquillian.core.launchconfig.sourcePathComputer"
   			class="org.jboss.tools.arquillian.core.internal.classpath.ArquillianSourcePathComputer">
   		</sourcePathComputer>
    </extension>
   
</plugin>
