<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
       id="arquillianNature"
       name="%nature_name"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
          class="org.jboss.tools.arquillian.core.internal.natures.ArquillianNature">
       </run>
    </runtime>
    <requires-nature
          id="org.eclipse.jdt.core.javanature">
    </requires-nature>
    <requires-nature
          id="org.eclipse.m2e.core.maven2Nature">
    </requires-nature>
    <builder
          id="org.jboss.tools.arquillian.core.arquillianBuilder">
    </builder>
    </extension>
    
    <extension 
		point="org.eclipse.core.resources.builders" 
		id="arquillianBuilder"
		name="Arquillian Builder">
	<builder>
		<run class="org.jboss.tools.arquillian.core.internal.builder.ArquillianBuilder">
		</run>
	</builder>
</extension>
    
    <!--
    <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%Launch.label"
            delegateDescription="%ArquillianLaunchDelegate.description"
            delegateName="%ArquillianLaunchDelegate.name"
            delegate="org.jboss.tools.arquillian.core.internal.launcher.ArquillianLaunchConfigurationDelegate"
            modes="run, debug"
            id="org.jboss.tools.arquillian.core.launchconfig"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.jboss.tools.arquillian.core.launchconfig.sourcePathComputer">
      </launchConfigurationType>
   </extension>

   <extension
         point="org.eclipse.jdt.junit.junitLaunchConfigs">
      <launchConfigType
            configTypeID="org.jboss.tools.arquillian.core.launchconfig">
      </launchConfigType>
   </extension>
   -->
   
   <extension point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider 
          id="org.jboss.tools.arquillian.core.launchconfig.classpathProvider"
          class="org.jboss.tools.arquillian.core.internal.classpath.ArquillianRuntimeClasspathProvider"/>
   </extension>

   <extension point="org.eclipse.debug.core.sourcePathComputers">
   		<sourcePathComputer
   			id="org.jboss.tools.arquillian.core.launchconfig.sourcePathComputer"
   			class="org.jboss.tools.arquillian.core.internal.classpath.ArquillianSourcePathComputer">
   		</sourcePathComputer>
    </extension>
   
  <extension 
  		id="org.jboss.tools.arquillian.core.problem"
  		point="org.eclipse.core.resources.markers"
  		name="Arquillian Missing Deployment Method Problem">
	<super type="org.eclipse.core.resources.problemmarker"/>
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="true"/>
  </extension>
  
  <extension 
  		id="org.jboss.tools.arquillian.core.problem.missingDeploymentMethod"
  		point="org.eclipse.core.resources.markers"
  		name="Arquillian Missing Deployment Method Problem">
	<super type="org.jboss.tools.arquillian.core.problem"/>
	<persistent value="true"/>
  </extension>
  
  <extension 
  		id="org.jboss.tools.arquillian.core.problem.invalidArchiveName"
  		point="org.eclipse.core.resources.markers"
  		name="Invalid Archive Name Problem">
	<super type="org.jboss.tools.arquillian.core.problem"/>
	<persistent value="true"/>
  </extension>
  
  <extension 
  		id="org.jboss.tools.arquillian.core.problem.class"
  		point="org.eclipse.core.resources.markers"
  		name="Arquillian Class Problem">
	<super type="org.jboss.tools.arquillian.core.problem"/>
	<persistent value="true"/>
  </extension>

  <extension 
  		id="org.jboss.tools.arquillian.core.problem.resource"
  		point="org.eclipse.core.resources.markers"
  		name="Arquillian Resource Problem">
	<super type="org.jboss.tools.arquillian.core.problem"/>
	<persistent value="true"/>
  </extension>

  <!--
  <extension
      id="org.jboss.tools.arquillian.core.validation"
      name="Arquillian validation"
      point="org.eclipse.jdt.core.compilationParticipant">
   <compilationParticipant
         class="org.jboss.tools.arquillian.core.internal.compiler.ArquillianCompilationParticipant"
         createsProblems="true"
         id="org.jboss.tools.arquillian.core.compilerParticipant"
         requiredSourceLevel="1.5">
      <managedMarker markerType="org.jboss.tools.arquillian.core.problem"/>
   </compilationParticipant>
 </extension>
 -->
    
 <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.jboss.tools.arquillian.core.internal.preferences.ArquillianPreferencesInitializer"/>
 </extension>
   
</plugin>
